<section id="menu_left">
    <img class="menu-img" src="/assets/images/twitter.png" alt="">
    <div class="menu_left-container">
        <a class="menu_left-link_home" href="/home/{{me}}"> <img class="menu-img" src="/assets/images/home.png" alt=""> Home</a>
    </div>
    <div class="menu_left-container">
        <a class="menu_left-link_profil" href="/profil/{{me}}"> <img class="menu-img" src="/assets/images/user.png" alt=""> Profil</a>
    </div>
    <div class="menu_left-container">
        <a class="menu_left-link_logout" href="/logout"> <img class="menu-img" src="/assets/images/criss-cross.png" alt="">Logout</a>
    </div>
</section>