<main id="home_main">

<section id="login_left">
    <img class="login-img" src="/assets/images/twitter.svg" alt="">
    <div class="login_left-container">
        <a class="login_left-link_home" href="/home/:"> <img class="login-img" src="/assets/images/home.svg" alt=""> Accueil</a>
    </div>
    <div class="login_left-container">
        <a class="login_left-link_profil" href="/profil/:"> <img class="login-img" src="/assets/images/user.svg" alt=""> Profil</a>
    </div>
</section>

<section id="login_center">
    <div class="login_container1">
        <h1 class="login_container1-title">Accueil</h1>
    </div>
    <div class="login_container2">
        <form action="/home/:username" method="post" class="login-form">
            <div class="login-form_tweet">
                <label class="login-form_label">
                    <textarea id="message" name="message" cols="50"  maxlength="140" placeholder="Quoi de neuf ?">
                    </textarea>
                </label>
            </div>
            <button type="submit "class="login-button">Tweeter</button>
        </form>
    </div>
    <div class="login_container3"></div>

    {{#each message}} 
    <div class="login_container4">
        <div class="login_container4-tweet">
            <div class="login_container4-img">
                <img src="https://randomuser.me/api/portraits/lego/1.jpg">
            </div>
            <div class="login_container4-content">
                <div class="name"> 
                    <h1>{{username}}</h1>
                    {{moment created_at "fromNow"}}
                </div>
                <div class="content">
                {{ content }}
                </div>
            </div>
        </div>
        </div>
    </div>
    {{/each}} 
    

</section>

<section id="login_right"></section>

</main>