<section id="connection">
    <img class="connection-img" src="../assets/images/twitter.svg" alt="">
    <h1 class="connection-title">Se connecter à Twitter</h1>
    <form action="/" method="post" class="connection-form">
        <div class="connection-form_email">
            <label class="connection-form_label">
                <span class="label-text">Téléphone, email ou nom d'utilisateur</span>
                <input class="connection-form_email_input" type="text" name="email">
            </label>
        </div>
        <div class="connection-form_mdp">
            <label class="connection-form_label">
                <span class="label-text">Mot de passe</span>
                <input class="connection-form_mdp_input" type="text" name="mdp">
            </label>
        </div>
    </form>
    <button class="connection-button"><a class="connection-button_link" href="#">Se connecter</a></button>
    <div class="connection-container">
        <a class="connection-container_link" href="#">Mot de passe oublié ?</a>
        <a class="connection-container_link" href="#">S'inscrire sur Twitter</a>
    </div>
</section>