<section id="connection">
    <img class="connection-img" src="../assets/images/twitter.png" alt="">
    <h1 class="connection-title">Se connecter à Twitter</h1>
    {{#if error}}
    <h1 class="connection-error_message">{{error}}</h1>
    {{/if }}
    <form action="/" method="post" class="connection-form">
        <div class="connection-form_email">
            <label class="connection-form_label">
                <span class="label-text">Username</span>
                <input class="connection-form_email_input" type="text" name="username">
            </label>
        </div>
        <div class="connection-form_mdp">
            <label class="connection-form_label">
                <span class="label-text">Mot de passe</span>
                <input class="connection-form_mdp_input" type="password" name="password">
            </label>
        </div>
         <button class="connection-button" type="submit" >Se connecter</button>
    </form>
    
    <div class="connection-container">
        <a class="connection-container_link" href="/*">Mot de passe oublié ?</a>
        <a class="connection-container_link" href="/signup">S'inscrire sur Twitter</a>
    </div>
</section>