<main id="profil_main">


{{> menu}}

<section id="profil_center">
    <div class="profil_container1">
        <h1 class="profil_container1-title">{{username}}</h1>
    </div>
    <div class="profil_container2">
       <div class="profil_container2_background">
           <img src="{{link}}" alt="">
       </div>
       <div class="profil_container2_content-user">
           <h2>{{username}}</h2>
           <p>A rejoint Twitter en Mai 2020</p>
           <div class="content-user_paragraph"><p>15 abonnements</p><p>9 abonnés</p></div>
       </div>
    </div>
    <div class="profil_container3"></div>
    {{#each message}} 

   
    {{> tweetos}}
    
    {{/each}} 
    
</section>
 
{{> suggestions}}

</main>