<section id="back">
    <a class="connection_link-previous" href="/"><img src="assets/images/back.svg" alt=""></a>
</section>
<section id="connection">
    <img class="connection-img" src="../assets/images/twitter.png" alt="">
    <h1 class="connection-title">Créer votre compte</h1>
    <form action="/signup" method="post" class="connection-form">
        <div class="connection-form_nom">
            <label class="connection-form_label">
                <span class="label-text">Nom</span>
                <input class="connection-form_input" type="text" name="nom">
            </label>
        </div>
        <div class="connection-form_prenom">
            <label class="connection-form_label">
                <span class="label-text">Prenom</span>
                <input class="connection-form_input" type="text" name="prenom">
            </label>
        </div>
        <div class="connection-form_email">
            <label class="connection-form_label">
                <span class="label-text">Email</span>
                <input class="connection-form_input" type="email" name="email">
            </label>
        </div>
        <div class="connection-form_birthday">
            <label class="connection-form_label">
                <span class="label-text">Date de Naissance</span>
                <input class="connection-form_input" type="date" name="birthday">
            </label>
        </div>
        <div class="connection-form_mdp">
            <label class="connection-form_label">
                <span class="label-text">Mot de passe</span>
                <input class="connection-form_input" type="password" name="password">
            </label>
        </div>
        <div class="connection-form_username">
            <label class="connection-form_label">
                <span class="label-text">Username</span>
                <input class="connection-form_input" type="text" name="username">
            </label>
        </div>
        <div class="connection-form_username">
            <label class="connection-form_label">
                <span class="label-text">Image</span>
                <input class="connection-form_input" type="text" name="link">
            </label>
        </div>
        <button class="connection-button" type="submit">S'inscrire</button>
    </form>
</section>