
<section id="back">
    <a class="connection_link-previous"href="http://localhost:2000/login"><img src="assets/images/back.svg" alt=""></a>
</section>
<section id="connection">
    <img class="connection-img" src="../assets/images/twitter.svg" alt="">
    <h1 class="connection-title">Créer votre compte</h1>
    <form action="/signup" method="post" class="connection-form">
        <div class="connection-form_nom">
            <label class="connection-form_label">
                <span class="label-text">Nom</span>
                <input class="connection-form_input" type="text" name="nom">
            </label>
        </div>
        <div class="connection-form_prenom">
            <label class="connection-form_label">
                <span class="label-text">Prenom</span>
                <input class="connection-form_input" type="text" name="prenom">
            </label>
        </div>
        <div class="connection-form_birthday">
            <label class="connection-form_label">
                <span class="label-text">Date de Naissance</span>
                <input class="connection-form_input" type="date" name="prenom">
            </label>
        </div>
        <div class="connection-form_mdp">
            <label class="connection-form_label">
                <span class="label-text">Mot de passe</span>
                <input class="connection-form_input" type="password" name="mdp">
            </label>
        </div>
        <button class="connection-button" type="submit" >S'inscrire</button>
    </form>
</section>
